@page
@model IndexModel
@using rock_scissors_paper.Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Kolo: @Model.Round</p>
    <p>Hráč: @Model.Player | Počítač: @Model.Computer</p>
    <p>Výhry: @Model.Wins | Remízy: @Model.Draw |Prohry: @Model.Lose</p>
    <p>Kámen: @Model.Rock | Nůžky: @Model.Scissors | Papír: @Model.Paper</p>
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Round" value="@Model.Round" />
        <input type="hidden" asp-for="@Model.Wins" value="@Model.Wins" />
        <input type="hidden" asp-for="@Model.Lose" value="@Model.Lose" />
        <input type="hidden" asp-for="@Model.Draw" value="@Model.Draw" />
        <input type="hidden" asp-for="@Model.Paper" value="@Model.Paper" />
        <input type="hidden" asp-for="@Model.Scissors" value="@Model.Scissors" />
        <input type="hidden" asp-for="@Model.Rock" value="@Model.Rock" />
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Rock">
            <label class="form-check-label" asp-for="@Model.Player">Kámen</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Scissors">
            <label class="form-check-label" for="inlineRadio2">Nůžky &#960;</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Paper">
            <label class="form-check-label" asp-for="@Model.Player">Papír</label>
        </div>
        <button type="submit" class="btn btn-dark">Play</button>
    </form>
</div>
